<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnswerBoxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-32}</string>
                <key>spriteSize</key>
                <string>{834,421}</string>
                <key>spriteSourceSize</key>
                <string>{1032,597}</string>
                <key>textureRect</key>
                <string>{{1,603},{834,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,413}</string>
                <key>spriteSourceSize</key>
                <string>{620,413}</string>
                <key>textureRect</key>
                <string>{{909,1},{620,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EditBoxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-57}</string>
                <key>spriteSize</key>
                <string>{1122,334}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1200}</string>
                <key>textureRect</key>
                <string>{{837,603},{1122,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,72}</string>
                <key>spriteSourceSize</key>
                <string>{487,86}</string>
                <key>textureRect</key>
                <string>{{837,939},{473,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,74}</string>
                <key>spriteSourceSize</key>
                <string>{446,88}</string>
                <key>textureRect</key>
                <string>{{909,416},{432,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,600}</string>
                <key>spriteSourceSize</key>
                <string>{906,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{906,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,418}</string>
                <key>spriteSourceSize</key>
                <string>{600,418}</string>
                <key>textureRect</key>
                <string>{{1531,1},{600,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1960,1025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2ce6233494c920f5507666a2f4dd26:32359424cc83adc9e175b22f2be2cfe4:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
